{{title}}

{{news.0.title}}

<div class="grid-container" style="grid-auto-flow: row;display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 0px;">
    :::
    #data#
    news
    #data#

    #sort#
    title
    #sort#
    #item#
    <div class="md-card" style="/*max-width: 50px;*/background-color: rgba(255, 255, 255, 0.5);">
        <b>{{title}}</b><br>{{content}}</div>
    #item#

    #/divider#
    <div style="padding-top: 5px;"></div>
    #/divider#
    :::
</div>
-+-[]
<div class="md-card" style="/*max-width: 50px;*/background-color: rgba(255, 255, 255, 0.5);">
    <div id="userdiv"><p style="font-size:40px;margin: 0px;padding-right: 10px">{{userid}}</p></div>
    <div id="userdiv" style="padding-right: 10px">
        <b>{{username}}</b><br>
    {{displayname}}

    </div>
    <div id="userdiv">
        E-Mail<br>
    {{email}}

    </div>
</div>
-+-